:host {
  width: 100%;
  height: .5em;
  position: relative;
  background-color: var(--panelBg);

  .user, .ai {
    transition: width .25s ease-in-out;
    height: 100%;
    position: absolute;
  }

  .user {
    background-color: var(--green);
    left: 0;
  }

  .ai {
    background-color: var(--red);
    right: 0;
  }
}
