:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--panelBg);
  width: 100%;

  .scores-bar {
    margin: 0.5em 1em;
    display: flex;

    span {
      margin: 0 .5em;
      white-space: nowrap;
    }

    .indicator {
      margin: 0 .25em 0 0;

      i {
        color: var(--textWhite);
        transition: transform .4s ease-in-out;
      }
    }
  }

  .buttons-bar {
    margin: 0.5em 1em;
    display: flex;
  }
}
