:host {
  display: flex;
  flex-direction: column;
  background-color: var(--panelBg);
  width: 60%;
  height: 45%;

  .header {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    span {
      margin: 0.5em;
    }
  }

  .body {
    display: flex;
    height: 100%;
    background-color: rgba(59, 43, 45, 0.75);
    margin: 0 0.5em;
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin: 0.5em;
    }
  }

}
